<!-- dashboard/templates/dashboard/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Monitoring Welder</title>
</head>
<body>
    <h1>Real-time Welder Dashboard</h1>
    <table border="1" id="data-table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Accel X</th>
                <th>Accel Y</th>
                <th>Accel Z</th>
                <th>Gyro X</th>
                <th>Gyro Y</th>
                <th>Gyro Z</th>
                <th>Prediksi</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
